@page "/"
@rendermode InteractiveServer
@using lnn_ui.Models
@using lnn_ui.Services

<PageTitle>Home</PageTitle>

<h1>Cyclone Detector</h1>

@if (_prediction is {Nature: not 0})
{
    <h2>Current predictions</h2>
    <p>Nature:  @_prediction.Nature</p>
    <p>Intensity:  @_prediction.Intensity</p>
    <h2>Most Recent Data:</h2>
    <p>Gust: @_prediction.Gust</p>
    <p>Eye: @_prediction.Eye</p>
    <p>Data last updated: @_lastUpdated</p>
    <button @onclick="Update">Update Now</button>
}
else
{
    <p>Loading...</p>
}


@code {
    [Inject] PredictionService? PredictionService { get; set; }
    LnnOutput? _prediction;
    DateTime _lastUpdated;
    
    protected override async Task OnInitializedAsync()
    {
        await Update();
    }

    private async Task Update()
    {
        _prediction = await PredictionService!.GetPrediction();
        _lastUpdated = DateTime.Now;
    }
}